<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="w-100 text-center">Peer Evals You Created</h1>
      <% @peer_evals.each do |pe| %>
        <p><b>Milestone</b>: <%= pe.milestone.description %> 
        <p><b>Student Under Evaluation</b>: <%= pe.user.fullname %> 
        <p><b>Scores</b>: 
        <ul>
          <li>Contribution to Group Goals: <%= pe.goals %> / 4
          <li>Quality of Individual Contributions: <%= pe.quality %> / 4
          <li>Effort and Participation: <%= pe.effort %> / 4
          <li>Considerate of Others: <%= pe.considerate %> / 4
          <li>Contribution of Knowledge: <%= pe.knowledge%> / 4
          <li>Working and Sharing with Others: <%= pe.sharing%> / 4
        </ul>
        <p><b>Strengths</b>: <%= pe.strength%> 
        <p><b>Areas of Improvement</b>: <%= pe.weakness%> 
        <p><%= link_to 'Edit Evaluation', edit_peer_eval_path(pe), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h1 class="w-100 text-center">Peer Evals For You</h1>
      <% @your_evals.each do |ye| %>
        <p><b>Milestone</b>: <%= ye.milestone.id %> 
        <p><b>Scores</b>: 
        <ul>
          <li>Contribution to Group Goals: <%= ye.goals %> / 4
          <li>Quality of Individual Contributions: <%= ye.quality %> / 4
          <li>Effort and Participation: <%= ye.effort %> / 4
          <li>Considerate of Others: <%= ye.considerate %> / 4
          <li>Contribution of Knowledge: <%= ye.knowledge%> / 4
          <li>Working and Sharing with Others: <%= ye.sharing%> / 4
        </ul>
        <p><b>Strengths</b>: <%= ye.strength%> 
        <p><b>Areas of Improvement</b>: <%= ye.weakness%> 
      <% end %>
    </div>
  </div>
</div>
