<table>
<tr>
<td>
<h1> Peer Evals You Created</h1> 
</td>

<td>
<h1> Peer Evals For You</h1>
</td>
</tr>

<tr>
<td valign=top>
<% @peer_evals.each do |pe| %>
  <p><b>Milestone</b>: <%= pe.milestone %> 
  <p><b>Student Under Evaluation</b>: <%= pe.user.fullname %> 
  <p><b>Scores</b>: 
  <ul>
    <li>Contribution to Group Goals: <%= pe.goals %> / 4
    <li>Quality of Individual Contributions: <%= pe.quality %> / 4
    <li>Effort and Participation: <%= pe.effort %> / 4
    <li>Considerate of Others: <%= pe.considerate %> / 4
    <li>Contribution of Knowledge: <%= pe.knowledge%> / 4
    <li>Working and Sharing with Others: <%= pe.sharing%> / 4
  </ul>
  <p><b>Strengths</b>: <%= pe.strength%> 
  <p><b>Areas of Improvement</b>: <%= pe.weakness%> 
  <p><%= link_to 'Edit Evaluation', edit_peer_eval_path(pe), class: 'btn btn-primary' %>
<% end %>
</td>

<td valign=top>
<% @your_evals.each do |ye| %>
  <p><b>Milestone</b>: <%= ye.milestone %> 
  <p><b>Scores</b>: 
  <ul>
    <li>Contribution to Group Goals: <%= ye.goals %> / 4
    <li>Quality of Individual Contributions: <%= ye.quality %> / 4
    <li>Effort and Participation: <%= ye.effort %> / 4
    <li>Considerate of Others: <%= ye.considerate %> / 4
    <li>Contribution of Knowledge: <%= ye.knowledge%> / 4
    <li>Working and Sharing with Others: <%= ye.sharing%> / 4
  </ul>
  <p><b>Strengths</b>: <%= ye.strength%> 
  <p><b>Areas of Improvement</b>: <%= ye.weakness%> 
<% end %>

</td>
</tr>
</table>
