<%= form_for (@feedback) do |fb| %>
  <p><%= fb.label :milestone %>:   
  <%= fb.select :milestone, [['Design', 'Design'], ['Final', 'Final']], {:prompt => 'Which milestone is this for?'} %>

  <p><%= fb.label :team_under_evaluation %>: 
  <%= fb.collection_select :team_id, Team.all, :id, :name, {:prompt => 'Which team are you evaluating?'} %>

  <p>&nbsp; </p>
  <h3>Please indicate your level of agreement with each of the following statements by choosing the appropriate number.</h3>
  <p>&nbsp; </p>

  <p><%= fb.label "Project expectations have been clearly communicated to the students." %>:       
  <%= fb.select :q1, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "The project requirements do not demand too much or too little work." %>: 
  <%= fb.select :q2, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "You are happy with the quantity and quality of work based on what you have seen the students produce." %>:       
  <%= fb.select :q3, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "You are confident that the project will be completed on time and with high quality in April." %>:       
  <%= fb.select :q4, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "All the students in the group work well together and you would be happy to hire all of them as future employees." %>:  
  <%= fb.select :q5, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  

  <p><%= fb.label "The students treat you with respect and courteousness." %>:  
  <%= fb.select :q6, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "The students are doing what is expected of them." %>:  
  <%= fb.select :q7, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "The students keep you up-to-date with their progress regularly." %>:  
  <%= fb.select :q8, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "The students follow through with what they say they would do." %>:  
  <%= fb.select :q9, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "When the students have questions or concerns, they are raised and communicated clearly with you." %>:  
  <%= fb.select :q10, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  
  <p><%= fb.label "The students have been proactive in addressing your concerns." %>:  
  <%= fb.select :q11, [['5 (Strong agree)', 5], ['4 (Agree)', 4], ['3 (Neutral)', 3], ['2 (Disagree)', 2], ['1 (Strongly Disagree)', 1]], {:prompt => 'Assign a score...'} %>  

  <p>&nbsp; </p>
  <h3>Please answer the following questions with as much context as possible.</h3>
  <p>&nbsp; </p>

  <p><%= fb.label "What are the strengths the students have displayed? If there are specific students who demonstrated outstanding qualities, please list them individually." %>
  <%= fb.text_area  :oeq1, size: "100x10" %>  
  <p><%= fb.label "How could the students improve their service?" %>
  <%= fb.text_area  :oeq2, size: "100x10" %>  
  <p><%= fb.label "Is there anything that you would like to see the students stop doing?" %>
  <%= fb.text_area  :oeq3, size: "100x10" %>  

<p><%= fb.submit "Submit", class: 'btn btn-primary'%>
<% end %>
