<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="w-100 text-center">Group Evals You Created</h1>
      <% @group_evals.each do |ge| %>
        <p><b>Milestone</b>: <%= ge.milestone.description %>
        <p><b>Team Under Evaluation</b>: <%= ge.team.name %> 
        <p><b>Presentation</b>: <%= ge.presentation %> 
        <p><b>Ability to Answer Questions</b>: <%= ge.answering %> 
        <p><b>Quality of Contributions</b>: <%= ge.contribution %> 
        <p><b>Strengths</b>: <%= ge.strength %> 
        <p><b>Areas of Improvement</b>: <%= ge.weakness %> 
        <p><b>Questions For Team</b>: <%= ge.questions%> 
        <p><%= link_to 'Edit Evaluation', edit_group_eval_path(ge), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h1 class="w-100 text-center">Group Evals For You</h1>
      <% @your_group_evals.each do |yge| %>
        <p><b>Milestone</b>: <%= yge.milestone.description %>
        <p><b>Team Under Evaluation</b>: <%= yge.team.name %> 
        <p><b>Presentation</b>: <%= yge.presentation %> 
        <p><b>Ability to Answer Questions</b>: <%= yge.answering %> 
        <p><b>Quality of Contributions</b>: <%= yge.contribution %> 
        <p><b>Strengths</b>: <%= yge.strength %> 
        <p><b>Areas of Improvement</b>: <%= yge.weakness %> 
        <p><b>Questions For Team</b>: <%= yge.questions%> 
      <% end %>
    </div>
  </div>
</div>
