<h2>Group Evaluation for <%= @group_eval.team.name %></h2>

<p><b>Milestone:</b> <%= @group_eval.milestone.description %></b>
<p><b>Team Under Evaluation:</b> <%= @group_eval.team.name %></b>
<p><b>Presentation :</b> <%= @group_eval.presentation %></b>
<p><b>Ability to Answer Questions:</b> <%= @group_eval.answering %></b>
<p><b>Quality of Contributions:</b> <%= @group_eval.contribution %></b>
<p><b>Questions :</b> <%= @group_eval.questions %></b>
<p><b>Strengths:</b> <%= @group_eval.strength %></b>
<p><b>Areas of Improvement:</b> <%= @group_eval.weakness %></b>

<p><%= link_to "Edit", edit_group_eval_path(@group_eval), class: 'btn btn-primary' %>
