<!DOCTYPE html>
<html>
<head>
  <title>Evals</title>
  <!-- %= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row"> 
    <div class="span3"> <h2>About Us</h2> </div>
    <div class="span9"> 
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>

      <%= yield %> 
  </div>
  </div>
</div>
</body>
</html>
